.Work {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
}
  .Work .main-paras {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
    
  }
  
  .Work .para {
    font-size: 1.5em;
    margin-left: 2rem;
    margin-right: 2rem;
  }
